extends layout

block content
  h1= title
  h2 Liste des alliances
  //script(type='text/javascript', src='./js/main.js').
  table(border="1" width="100%" height="100%")
    thead
      tr
        th(bgcolor="#D3D3D3") id
        th(bgcolor="#D3D3D3") name
        th(bgcolor="#D3D3D3") actions
    tbody
      for alliance in alliances
        tr
          td(style="width:100px, height:100px") #{alliance.id}
          td(style="width:100px, height:100px") #{alliance.name}
          td
           button.btn.btn-primary(type='submit', onclick='something('+ alliance.id +')') get details 
    script.
      function something(id) {
        document.location.href="http://localhost:3001/alliances/" + id
      }
    
      

