extends layout

block content
  h1= title
  h2 Bienvenue sur notre #{subtitle}
  h3 Cliquez sur les liens pour voir les détails
  ul
    li
      a(href='users') The users
    li
      a(href='alliances') The alliances 
    li
      a(href='characters') The characters
      

