extends layout

block content
  h1= title
  h2 Utilisateur
  table(border="1" width="100%" height="100%")
    thead
      tr
        th(bgcolor="#D3D3D3") Name
        th(bgcolor="#D3D3D3") Email
        th(bgcolor="#D3D3D3") Alliance
    tbody
        tr
          td(style="width:100px, height:100px") #{user.name}
          td(style="width:100px, height:100px") #{user.email}
          td(style="width:100px, height:100px") #{user.alliance_id}
          
    
      

